<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="home">
        <a href="{{url_for('restaurantsList')}}">Home</a>
    </div>
    <div class='pane'>
        <div class='header'>
            <h1>{{ restaurant.name }}</h1>
        </div>
        <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Create New Item</a>
        <br>
        <br>
        <div class='flash'>
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
        </div>
        {% for i in items %}
        <div class='nameAndPrice'>
            <span class='name'><h2>{{i.name}}</h2></span>
            <span class='price'><p>{{i.price}} </p></span>
        </div>
        <div class='description'>
            <p style="margin-bottom:0px">{{i.description}}</p>
        </div>
        <div class="editdeletepane">
            <a href="{{url_for('editMenuItem',restaurant_id = restaurant.id, menu_id=i.id)}}">Edit</a>
            <a href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id)}}" style="color:red">Delete</a>
        </div>
        <br> {% endfor %}
    </div>
    </div>
</body>

</html>
